<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a [routerLink]="['/']" class="d-flex justify-content-center">
              <!-- <img src="assets/images/logo4.png" /> -->
              <img src="assets/images/logoDC1.png" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary"><b>Hi, Welcome Back</b></h2>
                  <p class="fs-4 mt-2">Do you forget your Password?</p>
                </div>
              </div>
            </div>
            <h5 class="my-4 d-flex justify-content-center">Sign in with your Username</h5>
            <form [formGroup]="forgotpassform" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input type="Username" class="form-control" id="Username" formControlName="Username" placeholder="Email address / Username" />
                <label for="Username">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="Password" class="form-control" id="NewPassword" formControlName="NewPassword" placeholder="New Password" />
                <label for="NewPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="Password" class="form-control" id="Confirm Password" formControlName="ConfirmPassword" placeholder="Confirm Password" />
                <label for="Confirm Password">Confirm Password</label>
              </div>
              <div *ngIf="error" class="error-message">{{ error }}</div> 
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary">Reset Password</button>
              </div>
            </form>
            <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']"> Back to Login? </a>
          </h5> 
        </div>
      </div>
    </div>
  </div>
  