<app-navbar></app-navbar>

<div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let chunk of chunkArray(images_equ, 3); let i = index" [class.active]="i === 0">
            <div class="row">
                <div class="col-md-4" *ngFor="let newsItem of chunk">
                    <div class="card">
                        <img src="assets/images/equipement/{{newsItem.name}}" class="card-img-top" alt="{{ newsItem.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ newsItem.title }}</h5>
                            <p class="card-text">{{ newsItem.description }}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


  
<app-footercarousel></app-footercarousel>