/* styles.css */

@media (min-width: 992px) {
    .container-fluid.slide {
      height: calc(100vh - 57.6px);
    }
}
.container-fluid.slide {
    /* background-image: url('src/assets/images/carousal-img/background2.webp'); */
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.partie1 {
    margin: 10px 0;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%;
}

.partie1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.partie1 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.partie1 p {
    font-size: 18px;
    line-height: 1.6;
    color: #eee;
}

.partie2 {
    margin: 0 0 20px 0;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%;
}
.partie2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.partie2,
.partie3 {
    /* padding: 20px; */
    border: 1px solid #0c0b0b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* flex-grow: 1; */
    margin: 0 0 20px 0;

}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 992px) {
    .logos-slide img {
        width: 180px;
        height: 120px;
        margin: 0 20px;
    }
}

.logos {
    border-radius: 10px;
    overflow: hidden;
    /* padding: 30px 0; */
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    content: '';
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    justify-content: center;
    animation: 35s slide infinite linear;
}


/**/
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 30px;
  color: #333;
  line-height: 50px;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

img{
  border-radius: 10px;
}
.carousel-item img {
  /* font-size: clamp(12px, 4vw, 32px); */
  object-fit: contain;
}

.col-lg-6 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.col-lg-6:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.col-lg-6.d-flex.align-items-center {
  height: 100%;
  overflow: hidden;
}

.col-lg-6.p-5 {
  position: relative;
}

.col-lg-6.p-5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/*description and title style*/
.custom-content {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%; 
}

.custom-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-content h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}

.custom-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #eee;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: auto;
  max-height: 200px; 
}
.container-fluid.full-height {
    /* background-image: url('src/assets/images/carousal-img/background2.webp'); */
    background-size: cover;
    background-position: center;
    opacity: 1;
}


