/* :host {
    display: block;
    height: 100vh;
  } */
  
/* styles.css */

@media (min-width: 992px) {
  .full-height {
    height: calc(100vh - 57.6px);
  }
}
.container-fluid.slide{
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.partie1 {
    margin: 20px 0;
    color: azure;
    background-color: rgba(0, 0, 0, 0.307);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%;
}

.partie1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.partie1 p {
    font-size: 18px;
    line-height: 1.6;
    color: #eee;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 992px) {
    .logos-slide img {
        width: 180px;
        height: 120px;
        margin: 0 20px;
    }
}

.logos {
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 20px 0;
    color: azure;
    background-color: rgba(0, 0, 0, 0.307);
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 100%;
    padding: 0 0 10px 0;
}

.logos:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 

.logos:before,
.logos:after {
    position: absolute;
    content: '';
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(45, 43, 43));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(45, 43, 43));
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    justify-content: center;
    animation: 50s slide infinite linear;
}

