<app-navbar></app-navbar>

<div class="container-fluid slide">
    <div class="partie1">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <hr class="divider">
                    <h2>About TE Connectivity</h2>
                    <h4 class="mt-0">Creating a Safer, Sustainable, Productive, and Connected Future</h4>
                    <p class="text-white-75 mb-4">As the go-to engineering partner for today's innovation leaders and
                        technology entrepreneurs, we are helping solve tomorrow's toughest challenges with advanced
                        connectivity and sensor solutions.</p>
                    <hr class="divider">
                </div>
            </div>
        </div>
    </div>
    <div class="partie2">
        <div class="logos" #logosContainer>
            <div class="logos-slide" *ngFor="let newsItem of duplicatedImages; let i = index">
                <img src="assets/images/{{newsItem.name}}">
            </div>
        </div>
    </div>
    <div class="partie3">
        <div id="carousel2" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3>Slide 1 du Carousel 2</h3>
                </div>
                <div class="carousel-item">
                    <h3>Slide 2 du Carousel 2</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footercarousel></app-footercarousel>