<footer class="footer">
  <div class="container">
    <!-- <span class="text-muted">Footer</span> -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <!-- <a class="page-link" href="#" tabindex="-1">Previous</a> -->
        </li>
        <li class="page-item"><a class="page-link" href="/boardfs" (click)="toggleActive(0)" [class.active-dot]="activeIndex === 0"></a></li>
        <li class="page-item"><a class="page-link" href="/about" (click)="toggleActive(1)" [class.active-dot]="activeIndex === 1"></a></li>
        <li class="page-item"><a class="page-link" href="/equipement" (click)="toggleActive(2)" [class.active-dot]="activeIndex === 2"></a></li>
        <li class="page-item"><a class="page-link" href="/showmore" (click)="toggleActive(2)" [class.active-dot]="activeIndex === 2"></a></li>
        <li class="page-item"><a class="page-link" href="/videotest" (click)="toggleActive(2)" [class.active-dot]="activeIndex === 2"></a></li>

        <li class="page-item">
          <!-- <a class="page-link" href="#">Next</a> -->
        </li>
      </ul>
    </nav>
  </div>
</footer>
