.footer {
    background-color: transparent;
    color: white;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container {
    text-align: center;
}

.footer .text-muted {
    font-size: 1rem;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-link {
    border-radius: 50%;
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0 5px;
}

.pagination .page-link.active-dot {
    background-color: #c0360c; /* Change to the desired color */
    color: #ea0909; /* Change to the desired color */
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    color: #ccc;
    border-color: #ccc;
}

.pagination .page-item.disabled .page-link:hover {
    cursor: not-allowed;
}
