/* Réglages globaux */
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.img-brand{
    width: 300px;
}

.error-message {
    color: #ff0000; /* Red text color */
    text-align: center; /* Center the error message */
    margin-top: 20px; /* Add space above the error message */
  }
  
  .hr-style {
    border-top: 1px solid #cccccc; /* Gray border */
    margin-top: 30px; 
    margin-bottom: 30px; /* Add space below the hr */
  }
  
  
  
/* Boîtes */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Authentification */
.auth-main .auth-wrapper.v3 .auth-form {
    min-height: 100vh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-image: url('src/assets/images/backimage.webp'); /* Remplacez le chemin par l'emplacement de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
    background-position: center; /* Centre l'image horizontalement et verticalement */
}


/* Styles spécifiques au formulaire d'authentification */
.auth-main .auth-wrapper.v3 .auth-form .card {
    margin-top: 5rem;
    max-width: 600px; /* Définir une largeur maximale pour le formulaire */
    width: 200%; /* Assure que le formulaire occupe 100% de la largeur maximale */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
}

.auth-main .auth-wrapper .auth-form .auth-header {
    text-align: center;
    margin-top: 1rem; /* Remplacez cela par votre propre style de marge */
}

.auth-main .auth-wrapper .auth-form .form-check {
    margin-top: 3rem; /* Remplacez cela par votre propre style de marge */
}

.auth-main .auth-wrapper .auth-form .d-grid {
    margin-top: 4rem; /* Remplacez cela par votre propre style de marge */
}
