.auth-main .auth-wrapper.v3 .auth-form {
    min-height: 100vh;
    padding: 24px;
}
.auth-main .auth-wrapper .auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
[part=preset-1] .auth-form {
    background: #eef2f6;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

