<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/logo4.png" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                <p class="fs-4 mt-2">wi</p>
              </div>
            </div>
          </div>
          <h5 class="my-4 d-flex justify-content-center"> Sign in with Email address </h5>
          <!-- Angular registration form -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="Fullname" formControlName="Fullname" placeholder="Full Name" />
                  <label for="Fullname">Full Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="Username" formControlName="Username" placeholder="Username" />
                  <label for="Username">User Name</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="Email" formControlName="Email" placeholder="name@example.com" />
              <label for="Email">Email Address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="Password" class="form-control" id="Password" formControlName="Password" placeholder="Password" />
              <label for="Password">Password</label>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" />
              <label class="form-check-label" for="customCheckc1">
                <h5>Agree with <span>Terms & Condition.</span></h5>
              </label>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2" (click)="onSubmit()">Sign Up</button>
            </div>
          </form>
          <!-- <div class="error-message">{{ error }}</div> -->
          <!-- End of Angular registration form -->
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']"> Already have an account? </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
