/*container*/
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /*img*/
  .row {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .col-6 {
    height: 100%;
  }
  
  .col-6.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px; 
    text-align: center;
    order: 1; 
  }
  
  .col-6.image {
    order:2; 
    padding: 10px; 
    align-self: flex-start;
  }
  
  .col-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .welcome-text {
    font-family: Arial, sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
    line-height: 1; 
    text-align:left;
  }
  
  p {
    color: rgb(46, 45, 45);
    font-size: 150%;
    line-height:141%;
    text-align: justify;
  }
  
  .separator {
    border-top: 5px solid #134bb3;
    margin: 20px 0; 
  }
  
  
  /* scroll down button */
  .scroll-button {
    font-family: Arial, sans-serif; 
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #355389;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .scroll-button:hover {
    background-color: #0056b3;
  }
  
  