<app-navbar></app-navbar>
<app-sidebar *ngIf="isAuthorized"></app-sidebar>

<div class="container p-0">
    <div class="row">
        <div class="col-6 image">
            <img src="assets/Illustrations/workshop3.png">
        </div>
        <div class="col-6 text">
            <div class="description">
                <h1 class="welcome-text">Welcome to the Workshop page</h1>
                <hr class="separator">
                <p> This page is dedicated to recognizing and celebrating the exceptional employees who have
                    demonstrated outstanding innovation, timely delivery, exceptional service quality, and unwavering
                    support. These individuals have gone above and beyond in their roles, making significant
                    contributions to our team's success and setting a high standard for excellence.</p>
                <button class="scroll-button" (click)="scrollToSection('list-section')">View More</button>
            </div>
        </div>
    </div>
</div>


<!-- Toolbar -->
<div class="container">
    <p-toolbar>
        <div class="p-toolbar-group-center">
            <span class="p-input-icon-right">
                <input pInputText placeholder="Search" [(ngModel)]="searchTerm" (input)="filterWS()"
                    [style]="{ width: '1200px' }" class="search" />
                <i class="pi pi-search"></i>
            </span>
        </div>
        <div class="p-toolbar-group-center m-0">
            <div *ngIf="isAuthorized">
                <p-button (click)="showAddDialog()" icon="pi pi-plus-circle" severity="info"
                    [outlined]="true"></p-button>
            </div>
        </div>
    </p-toolbar>
    <!-- Add Dialog -->
    <div class="flex justify-content-center">
        <p-dialog header="ADD Workshop" [modal]="true" [(visible)]="addDialogVisible" [style]="{ width: '50rem' }"
            (onHide)="resetForm()">
            <span class="p-text-secondary block mb-5"></span>
            <div class="p-fluid mb-5">
                <!-- Title -->
                <div class="field grid mb-3">
                    <label for="title" class="col-fixed font-semibold label-padding">Title</label>
                    <div class="col">
                        <input pInputText id="title" class="w-full" autocomplete="off" [(ngModel)]="newWS.Title" />
                    </div>
                </div>
                <!-- Description -->
                <div class="field grid mb-3">
                    <label for="description" class="col-fixed font-semibold label-padding">Description</label>
                    <div class="col">
                        <textarea pInputTextarea id="description" class="w-full description-input" autocomplete="off"
                            [(ngModel)]="newWS.Description"></textarea>
                    </div>
                </div>
                <!-- Image Upload -->
                <div class="field grid mb-3">
                    <label for="image-files" class="col-fixed font-semibold label-padding">Upload Images</label>
                    <div class="col">
                        <p-fileUpload name="imageFiles[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [auto]="false"
                            chooseLabel="Choose Images" cancelLabel="" [showCancelButton]="false">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>

                <!-- PDF Upload -->
                <div class="field grid mb-3">
                    <label for="pdf-files" class="col-fixed font-semibold label-padding">Upload Workshop PDFs</label>
                    <div class="col">
                        <p-fileUpload name="pdfs[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onPdfUpload($event)" [multiple]="true" accept="application/pdf" [auto]="false"
                            chooseLabel="Choose PDFs" cancelLabel="" [showCancelButton]="false">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedPdfFiles.length">
                                    <li *ngFor="let file of uploadedPdfFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>


                <!-- Video Upload -->
                <div class="field grid mb-3">
                    <label for="video-file" class="col-fixed font-semibold label-padding">Upload Workshop Video</label>
                    <div class="col">
                        <p-fileUpload name="videoFile" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onVideoUpload($event)" accept="video/*" [multiple]="false" [auto]="false"
                            chooseLabel="Choose just one Video" cancelLabel="" [showCancelButton]="false">

                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedVideoFiles.length">
                                    <li *ngFor="let file of uploadedVideoFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <!-- Display error message -->
                    <div *ngIf="errorMessage" class="p-mt-2 p-text-danger">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="flex justify-content-center mb-3">
                <div class="button-container">
                    <button type="button" class="btn btn-secondary" severity="secondary"
                        (click)="addDialogVisible = false">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveWS()">Save</button>
                </div>
            </div>
        </p-dialog>
        <p-toast></p-toast>
    </div>
</div>



<!-- list items  -->
<div class="container" id="list-section">
    <ng-container *ngFor="let item of ws; let i = index">
        <div class="cards">
            <div class="card2">
                <img class="card-image" [src]="item.Image_URL[0]" alt="Card Image" (click)="showImage(item.Image_URL[0])">
                <div class="card-content">
                    <h1>{{ item.Title }}</h1>
                    <p class="description2"> {{ item.Description}}</p>
                    <button class="read-article" (click)="showWorkshopDetails(item.Id_Workshop)">Read More</button>
                </div>
            </div>
            <div class="button-group" *ngIf="isAuthorized">
                <p-button (click)="showUpdateDialog(item)" icon="pi pi-pen-to-square" [rounded]="true" severity="info"
                    [outlined]="true"></p-button>
                <p-button (click)="showDeleteDialog(item)" icon="pi pi-trash" [rounded]="true" severity="danger"
                    [outlined]="true"></p-button>
            </div>
        </div>
    </ng-container>
    <!-- Image Dialog -->
    <div *ngIf="isImageDialogVisible" class="image-dialog" (click)="hideImage()">
        <div class="image-dialog-content">
            <span class="close-button" (click)="hideImage()"><i class="pi pi-times" style="font-size: 2rem"></i>
            </span>
            <img [src]="imageToShow" alt="Dialog Image" class="dialog-image">
        </div>
    </div>
    <!-- Update form -->
    <div class="flex justify-content-center">
        <p-dialog header="Update Workshop" [modal]="true" [(visible)]="updateDialogVisible" [style]="{ width: '50rem' }"
            (onHide)="resetForm()">
            <div class="p-fluid mb-5">
                <!-- Title -->
                <div class="field grid mb-3">
                    <label for="title" class="col-fixed font-semibold label-padding">Title</label>
                    <div class="col">
                        <input pInputText id="title" class="w-full" autocomplete="off" [(ngModel)]="newWS.Title" />
                    </div>
                </div>

                <!-- Description -->
                <div class="field grid mb-3">
                    <label for="description" class="col-fixed font-semibold label-padding">Description</label>
                    <div class="col">
                        <textarea pInputTextarea id="description" class="w-full description-input" autocomplete="off"
                            [(ngModel)]="newWS.Description"></textarea>
                    </div>
                </div>

                <!-- Existing Images -->
                <div class="field grid mb-3">
                    <label for="existing-images" class="col-fixed font-semibold label-padding">Existing Images</label>
                    <div class="col">
                        <ul *ngIf="newWS.Image_Name.length">
                            <li *ngFor="let image of newWS.Image_Name; let i = index">
                                {{ image.includes('[Deleted]') ? '[Deleted]' : image }}
                                <button type="button" class="btn btn-danger btn-sm ml-2" (click)="removeImage(i)"
                                    [disabled]="image.includes('[Deleted]')">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Upload New Images -->
                <div class="field grid mb-3">
                    <label for="image-files" class="col-fixed font-semibold label-padding">Upload New Images</label>
                    <div class="col">
                        <p-fileUpload name="imageFiles[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [auto]="false"
                            chooseLabel="Choose Images" cancelLabel="" [showCancelButton]="false">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>

                <!-- Existing PDFs -->
                <div class="field grid mb-3">
                    <label for="existing-pdfs" class="col-fixed font-semibold label-padding">Existing PDFs</label>
                    <div class="col">
                        <ul *ngIf="newWS.Pdf_Name.length">
                            <li *ngFor="let pdf of newWS.Pdf_Name; let i = index">
                                {{ pdf.includes('[Deleted]') ? '[Deleted]' : pdf }}
                                <button type="button" class="btn btn-danger btn-sm ml-2" (click)="removePdf(i)"
                                    [disabled]="pdf.includes('[Deleted]')">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Upload New PDFs -->
                <div class="field grid mb-3">
                    <label for="pdf-files" class="col-fixed font-semibold label-padding">Upload New PDFs</label>
                    <div class="col">
                        <p-fileUpload name="pdfFiles[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onPdfUpload($event)" [multiple]="true" accept="application/pdf" [auto]="false"
                            chooseLabel="Choose PDFs" cancelLabel="" [showCancelButton]="false">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedPdfFiles.length">
                                    <li *ngFor="let file of uploadedPdfFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>

                <!-- Existing Video -->
                <div class="field grid mb-3">
                    <label for="existing-video" class="col-fixed font-semibold label-padding">Existing Video</label>
                    <div class="col">
                        <div *ngIf="newWS.Video_Name">
                            {{ newWS.Video_Name.includes('[Deleted]') ? '[Deleted]' : newWS.Video_Name }}
                            <button type="button" class="btn btn-danger btn-sm ml-2" (click)="removeVideo()"
                                [disabled]="newWS.Video_Name.includes('[Deleted]')">Delete</button>
                        </div>
                    </div>
                </div>

                <!-- Upload New Video -->
                <div class="field grid mb-3">
                    <label for="video-file" class="col-fixed font-semibold label-padding">Upload New Video</label>
                    <div class="col">
                        <p-fileUpload name="videoFile" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onVideoUpload($event)" accept="video/*" [multiple]="false" [auto]="false"
                            chooseLabel="Choose Video" cancelLabel="" [showCancelButton]="false">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedVideoFiles.length">
                                    <li *ngFor="let file of uploadedVideoFiles">
                                        {{ file.name }}
                                    </li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="flex justify-content-center mb-3">
                <div class="button-container">
                    <button type="button" class="btn btn-secondary" (click)="handleCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
                </div>
            </div>
        </p-dialog>
        <p-toast></p-toast>
    </div>















    <!-- Confirmation Dialog -->
    <div class="card flex justify-content-center">
        <p-dialog header="Confirm Deletion" [(visible)]="deleteDialogVisible" [modal]="true"
            [style]="{ width: '25rem'}">
            <p class="deleteconf">Are you sure you want to delete this Workshop?</p>
            <div class="flex justify-content-center">
                <div class="button-container">
                    <button type="button" class="btn btn-secondary"
                        (click)="deleteDialogVisible = false">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="deleteWS()">Delete</button>
                </div>
            </div>
        </p-dialog>
    </div>
</div>