<app-navbar></app-navbar>

<div class="container p-0">
    <div class="row">
        <div class="col-6 image">
            <img src="assets/Illustrations/workshop3.png">
        </div>
        <div class="col-6 text">
            <div class="description">
                <h1 class="welcome-text">Welcome to the Workshop page</h1>
                <hr class="separator">
                <p> This page is dedicated to recognizing and celebrating the exceptional employees who have
                    demonstrated outstanding innovation, timely delivery, exceptional service quality, and unwavering
                    support. These individuals have gone above and beyond in their roles, making significant
                    contributions to our team's success and setting a high standard for excellence.</p>
                <button class="scroll-button" (click)="scrollToSection('list-section')">View More</button>
            </div>
        </div>
    </div>
</div>
