.img-fluid{
    width: auto;
    height: 100vh;
    object-fit: cover;
}

/* CSS */
:host {
  display: block;
  height: 100vh; /* Make the component take up the full height of the viewport */
}

.full-height {
  height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 30px;
  color: #333;
  line-height: 50px;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0 ;
}

.carousel-item img {
  height: 300px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover;
}

/* Style for text content */
/* CSS */
.col-lg-6.d-flex.align-items-center {
  height: 100%; /* Ajustez la hauteur de la colonne à la hauteur de la fenêtre */
  overflow: hidden; /* Empêcher le défilement vertical */
}

.text-white {
  padding-right: 50px; /* Ajuster l'espacement */
  height: 80%; /* Définir une hauteur de 80% de la hauteur de la colonne */
  overflow: auto; /* Activer le défilement si le contenu dépasse la hauteur */
}

.text-white h2 {
  font-size: 2rem; /* Réduire la taille de la police */
  margin-bottom: 10px; /* Réduire la marge inférieure */
}

.text-white p {
  font-size: 1rem; /* Réduire la taille de la police */
  line-height: 1.25; /* Réduire la hauteur de ligne */
}

/*footer style */
.footer {
  background-color: #fc5185;
  background-image: linear-gradient(to right, #fc5185, #6e45e2);
  color: white;
  padding: 20px 0;
}

.footer .container {
  text-align: center;
}

.footer .text-muted {
  font-size: 1rem;
}
