.container{
  font-family: "Inter var", sans-serif;
  font-size: 16px;

}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  text-align: center;
  flex: 1;
  position: relative;
}

.step span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
}

.step.active span {
  background-color: #007bff;
}

.step p {
  margin: 0;
  font-weight: bold;
}

.step::after {
  content: '';
  position: absolute;
  top: 20px;
  right: -50%;
  width: 99%;
  height: 2px;
  background-color: #ccc;
}

.step.active::after {
  background-color: #007bff;
}

.step:last-child::after {
  display: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin: 5px 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
}
