<app-navbar></app-navbar>
<div class="card flex justify-content-center">
    <button (click)="showDialog()" class="btn btn-primary">ADD ECE</button>
    <p-dialog header="ADD ECE" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" (onHide)="resetForm()">
        <span class="p-text-secondary block mb-5"></span>
        <div class="p-fluid mb-5">
            <div class="field grid mb-3">
                <label for="title" class="col-fixed font-semibold label-padding">Title</label>
                <div class="col">
                    <input pInputText id="title" class="w-full" autocomplete="off" [(ngModel)]="newEce.title" />
                </div>
            </div>
            <div class="field grid mb-3">
                <label for="description" class="col-fixed font-semibold label-padding">Description</label>
                <div class="col">
                    <textarea pInputTextarea id="description" class="w-full description-input" autocomplete="off"
                        [(ngModel)]="newEce.description"></textarea>
                </div>
            </div>
            <div class="field grid mb-3">
                <label for="file" class="col-fixed font-semibold label-padding">Upload ECE</label>
                <div class="col custom-file-input-container">
                    <input type="file" id="file" (change)="onFileSelected($event)" class="custom-file-input" accept="image/*" />
                    <label for="file" class="custom-file-label" id="file-label">Choose file</label>
                </div>
            </div>
        </div>
        <div class="flex justify-content-center mb-3">
            <div class="button-container">
                <button type="button" class="btn btn-secondary" severity="secondary" (click)="visible = false" >Cancel</button>
                <button type="button" class="btn btn-primary" (click)="uploadECE()">Save</button>
            </div>
        </div>
    </p-dialog>
    <p-toast></p-toast>
</div>




<div class="card" *ngFor="let item of ece" (click)="selectECE(item)">
    <div *ngIf="selectedECE === item" >
        <button (click)="updateECE()" class="btn btn-primary mr-2">Update</button>
        <button (click)="deleteECE()" class="btn btn-danger">Delete</button>
    </div>
    <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="panel-container">
                    <img [src]="item.image_URL" alt="ECE Image" class="ece-image" />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <div class="panel-container">
                    <div class="card-item">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-splitter>
</div>














<!-- <div class="container-fluid">
    <div class="row">
        <h1>Global Title of the Page</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form class="search-bar">
                <input type="search" name="search" placeholder="Search" required>
                <button type="submit">
                    <i class="pi pi-search" style="color: var(--primary-color)"></i>
                </button>
            </form>
        </div>
        <div class="col-md-4 text-md-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addEceModal">
                <i class="pi pi-plus-circle" style="color: rgb(255, 255, 255)"> Add</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div *ngIf="selectedECE" class="col-md-6">
            <button class="btn btn-secondary" (click)="updateECE()">
                <i class="pi pi-pencil" style="color: rgb(254, 254, 254)"> Update</i>
            </button>
        </div>
        <div *ngIf="selectedECE" class="col-md-6">
            <button class="btn btn-danger" (click)="deleteECE()">
                <i class="pi pi-times-circle" style="color: rgb(254, 254, 254)"> Delete</i>
            </button>
        </div>
    </div>
    <div class="row" *ngFor="let eceItem of ece" (click)="selectECE(eceItem)">
        <div class="col-md-6">
            <div class="column">
                <img [src]="eceItem.image_URL" alt="Image" width="100" height="100">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        <h2>{{ eceItem.title }}</h2>
                    </div>
                    <div class="description">
                        <p>{{ eceItem.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEceModal" tabindex="-1" role="dialog" aria-labelledby="addEceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEceModalLabel">Add New ECE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" [(ngModel)]="newEce.title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" [(ngModel)]="newEce.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="file">File</label>
                            <input type="file" class="form-control" id="file" (change)="onFileSelected($event)">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addECE()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div> -->