<!-- <app-navbar class="fixed-top"></app-navbar> -->
<app-navbar></app-navbar>
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <ngb-carousel [interval]="3000" [pauseOnHover]="false" [showNavigationArrows]="true">
                    <ng-template ngbSlide="" *ngFor="let image of images">
                        <div class="carousel-wrapper">
                            <img src="assets/images/carousal-img/{{image.name}}" [alt]="image.caption"
                                class="img-fluid">
                            <div class="caption">{{image.caption}}</div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</header>



<!-- About-->

<section class="page-section bg-light" id="about" style="padding-top: 40px;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class=" mt-0">Creating a Safer, Sustainable, Productive, and Connected Future</h2>
                <p class="text-white-75 mb-4">As the go-to engineering partner for today's innovation leaders and
                    technology entrepreneurs, we are helping solve tomorrow's toughest challenges with advanced
                    connectivity and sensors solutions.</p>
                <!-- <a class="btn btn-light btn-xl" href="#services">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>