header.masthead {
  padding-top: 3rem;
  padding-bottom:3rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

hr.divider-light {
  background-color: #fff;
}

@media (min-width: 992px) {

  header.masthead p {
    font-size: 1.15rem;
  }

  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


p {
  font-size: 14px;
  line-height: 160%;
  margin: 0 0 20px 0;
  text-align: justify;
  text-align: center;
  font-style: bold;
  color:black;
}
.page-section {
  padding: 3rem 0;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-wrapper .caption {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.carousel-indicators li {
  background-color: black;
}

h2{
  color: #2E4957;;
}

h3{
  color: #E28909;
  font-size: 30px;
  font-weight: bold;

}

#portfolio {
  padding: 60px 0;
}

.row.g-0 .col-lg-4 {
  padding: 15px; /* Add space between boxes */
}

.portfolio-box {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.portfolio-box:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.portfolio-box img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.portfolio-box:hover img {
  transform: scale(1.05);
}

.portfolio-box-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.portfolio-box-caption .project-category,
.portfolio-box-caption .project-name {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.portfolio-box-caption .project-name {
  font-weight: bold;
}

.portfolio-box:hover .portfolio-box-caption {
  transform: translateY(-100%);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}