@media (min-width: 992px) {
    .full-height {
      height: calc(100% - 57.6px);
    }
    .col-lg-6{
      display: block;
    }
  }
  .container-fluid.full-height {
    background-image: url('src/assets/images/carousal-img/background2.webp');
    background-size: cover;
    background-position: center;
    opacity: 1;
    }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 30px;
    color: #333;
    line-height: 50px;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  img{
    border-radius: 10px;
  }
  .carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  
  .col-lg-6 {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .col-lg-6:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
  }
  
  .col-lg-6.d-flex.align-items-center {
    height: 100%;
    overflow: hidden;
  }
  
  .col-lg-6.p-5 {
    position: relative;
  }
  
  .col-lg-6.p-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  
  /*description and title style*/
  .custom-content {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%; 
  }
  
  .custom-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .custom-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
  }
  
  .custom-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #eee;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    max-height: 200px; 
  }
  
  
  
  
  
  
  
  