

<div class="profile-container">
    <!-- <div class="profile-card">
        <img src="https://via.placeholder.com/100" alt="User Avatar">
        <h2>JWT User</h2>
        <p>UI/UX Designer</p>
        <span class="badge">Pro</span>
        <div class="info">
            <i class="fas fa-envelope"></i>
            <span>Email: demo@sample.com</span>
        </div>
        <div class="info">
            <i class="fas fa-phone"></i>
            <span>Phone: (+99) 9999 999 999</span>
        </div>
        <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <span>Location: Melbourne</span>
        </div>
        <div class="stats">
            <div>
                <h4>37</h4>
                <p>Mails</p>
            </div>
            <div>
                <h4>2749</h4>
                <p>Followers</p>
            </div>
            <div>
                <h4>678</h4>
                <p>Following</p>
            </div>
        </div>
    </div> -->
    <div class="profile-details">
        <h3>About me</h3>
        <p>Hello, I’m {{ fullname }}, a {{ role }} based in {{ email }}. I create digital products that are more beautiful and usable. Morbi accusant ipsum. Nam nec tellus at.</p>
        <dl class="personal-details">
            <dt>Full Name</dt>
            <dd>{{ fullname }}</dd>
            <dt>User Name</dt>
            <dd>{{ username }}</dd>
            <dt>Email</dt>
            <dd>{{ email }}</dd>
            <dt>Role</dt>
            <dd>{{ role }}</dd>
        </dl>
    </div>
    
</div>
