/* html, body {
    height: 100%;
    margin: 0;
} */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    width: 100%;
}

img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}
