<app-navbar></app-navbar>
<app-sidebar *ngIf="isAuthorized"></app-sidebar>
<!-- title -->
<div class="container1">
  <div class="title">
    <p>User Management</p>
  </div>
</div>

<div class="container">
  <div class="container2">
    <!-- search box -->
    <div class="search-box">
      <input type="text" placeholder="Search Keyword" [(ngModel)]="searchTerm" (input)="filterUsers()">
      <button class="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
          <path
            d="M840 1016L594 770q-36 28-77.5 42t-88.5 14q-125 0-212.5-87.5T128 526q0-125 87.5-212.5T428 226q125 0 212.5 87.5T728 526q0 45-13 87t-43 77l246 247q9 8 9 21t-9 21q-9 9-21.5 9t-21.5-9ZM428 766q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70Z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- table -->
  <p-table [value]="users" [paginator]="true" [rows]="5" [tableStyle]="{ 'align-items':'center','justify-content':'center' }" >
    <ng-template pTemplate="header">
      <tr [style]="{'border': '1px solid #dee2e6',  'border-width': '0 0 1px 0'}">
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role of the User</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <!-- values -->
    <ng-template pTemplate="body" let-user>
      <tr [ngClass]="{'approved': user.EmailConfirmed, 'not-approved': !user.EmailConfirmed}"
          [style]="{'border': '1px solid #dee2e6',  'border-width': '0 0 1px 0','padding': '0'}" >
        <td>{{ user.Username }}</td>
        <td>{{ user.Fullname }}</td>
        <td>{{ user.Email }}</td>
        <td>
          <p-tag [value]="user.Role" [severity]="getSeverity(user.Role)"
                 [style]="{'width':'100px', 'height':'30px', 'font-size':'15px'}"></p-tag>
        </td>
        <td [ngStyle]="{'color': user.EmailConfirmed ? 'green' : 'red'}">
          <i *ngIf="user.EmailConfirmed" class="pi pi-verified" style="color: green"></i>
          <i *ngIf="!user.EmailConfirmed" class="pi pi-times-circle" style="color: red"></i>
          {{ user.EmailConfirmed ? 'Approved' : 'Not Approved' }}
        </td>
        <td data-label="Date Created">{{ user.DateCreated | date: 'dd/MM/yyyy' }}</td>
        <td data-label="Actions">
          <button type="button" class="btn btn-outline-danger btn-circle btn-lg m-2"
                  (click)="showDeleteDialog(user)">
            <i class="pi pi-user-minus"></i>
          </button>
          <button type="button" class="btn btn-outline-primary btn-circle btn-lg m-2"
                  (click)="selectUser(user)">
            <i class="pi pi-user-edit"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- Modal -->
  <div class="modal fade" [ngClass]="{'show d-block': isModalVisible}" tabindex="-1">
    <div class="modal-overlay" *ngIf="isModalVisible"></div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center">Edit User</h2>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateUser()">
            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" class="form-control" [(ngModel)]="selectedUser.EmailConfirmed" name="status">
                <option [ngValue]="true">Approved</option>
                <option [ngValue]="false">Not Approved</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Role">Role of the User</label>
              <select id="Role" class="form-control" [(ngModel)]="selectedUser.Role" name="Role">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
              </select>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-secondary btn-block mt-3" (click)="closeModal()">Cancel</button>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- delete modal  -->
  <div class="card flex justify-content-center">
    <p-dialog header="Confirm Deletion" [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
      <p class="deleteconf">Are you sure you want to delete this User?</p>
      <div class="flex justify-content-center">
        <div class="button-container">
          <button type="button" class="btn btn-secondary" (click)="deleteDialogVisible = false">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="deleteUser(selectedUser.Id)">Delete</button>
        </div>
      </div>
    </p-dialog>
  </div>
  
  <p-toast></p-toast>
  
</div>