<app-navbar></app-navbar>

<div class="container">
    <h2 class="title">ECE STAR</h2>
    <div class="article-grid">
        <div *ngFor="let article of articles" class="article-card" (click)="selectArticle(article)">
            <h3 class="article-title">{{ article.pdf_Name }}</h3>
        </div>
    </div>

    <div *ngIf="selectedArticle" class="selected-article">
        <h3 class="sub-title">Selected ECE: {{ selectedArticle.pdf_Name }}</h3>
        <!-- Display first page image here -->
        <div *ngIf="firstPageImageUrl">
          <img [src]="firstPageImageUrl" alt="First Page">
        </div>

        <div class="buttons">
            <button class="delete-btn">Delete</button>
            <button class="update-btn">Update</button>
        </div>
        <div *ngIf="showUpdateForm" class="update-form">
            <input type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .ppt">
            <button class="save-btn">Save Update</button>
        </div>
        <button class="download-btn" (click)="downloadArticleFile(selectedArticle.id_ART)">Download ECE File</button>
        <button class="view-btn" (click)="viewArticle(selectedArticle.id_ART)">View ECE</button>
    </div>

    <div class="upload-section">
        <input type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .ppt">
        <button class="upload-btn" (click)="uploadFile()">Upload</button>
    </div>
</div>

<!-- Modal for displaying the article -->
<div *ngIf="showPopup" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <embed [src]="selectedArticleUrl" type="application/pdf" width="100%" height="500px">
    </div>
</div>
